#about {
  padding: 80px 0;
}
.about {
  &__title {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
  }
  &__text {
    p {
      margin-bottom: 30px;
      line-height: 1.5;
    }
  }
  &__chef {
    background-color: #f1f1f1;
    border-left: 6px solid #ccc;
    padding: 20px;
    margin-bottom: 30px;
  }
  &__image {
    position: relative;
    padding: 0px 0px 90% 0px;
    margin-bottom: 30px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  &__info {
    span {
      font-weight: 700;
    }
  }
  &__hours {
    margin-bottom: 30px;
  }
}
.chef {
  &__quotes {
    font-style: italic;
    line-height: 1.5;
    margin-bottom: 30px;
  }
}
