#menu {
  padding-bottom: 80px;
}

.menu {
  &__title {
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
  }
  &__block {
    box-shadow: 0 2px 5px 0 #ccc, 0 2px 10px 0 #ccc;
    margin-bottom: 30px;
  }
  &__header {
    box-shadow: 0 2px 5px 0 #ccc, 0 2px 10px 0 #ccc;
    padding: 10px 20px;
  }
  &__list {
    display: flex;
    li {
      width: 50%;
      list-style: none;
    }
  }
  &__link {
    display: inline-block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    padding: 5px;
    color: #000;
    
  }
  &__link.selected {
      background-color: #616161;
      color: #fff;
    }
  &__eat, &__drink {
    padding: 48px 20px;
  }
  &__drink {
    display: none;
  }
  &__subtitle {
    font-family: $segoe;
    margin-bottom: 25px;
  }
  &__text {
    color: #757575;
    margin-bottom: 50px;
    &:last-of-type{
      margin-bottom: 0px;
    }
  }
  &__image {
    position: relative;
    padding: 0px 0px 50% 0px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

