#where {
  padding-bottom: 60px;
}
.where {
  &__title {
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
  }
  &__text {
    line-height: 1.5;
    margin-bottom: 25px;
  }
  &__image {
    position: relative;
    padding: 0px 0px 50% 0px;
    margin-bottom: 30px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  &__fyi {
    display: inline-block;
    background-color: #000;
    color: #fff;
    padding: 2px;
    margin-right: 10px;
  }
  &__reserve {
    font-weight: 700;
  }
  &__form {
    input {
      display: block;
      width: 100%;
      border: 1px solid #ccc;
      padding: 15px 10px;
      margin-bottom: 20px;
      font-size: 18px;
      &::placeholder {
        font-family: $mainff;
        font-size: 18px;
        color: #ccc;
      }
    }
  }
  &__btn {
    display: inline-block;
    cursor: pointer;
    border: none;
    padding: 13px 17px;
    background-color: #000;
    color: #fff;
    font-family: $mainff;
    font-size: 18px;
    &:hover {
      background-color: #ccc;
      color: #000;
    }
  }
}
