@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
@import 'variables';
@import 'style';
@import 'header';
@import 'cafe';
@import 'about';
@import 'menu';
@import 'where';
@import 'footer';
